*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100%;
}
body{
    background-color: rgb(247, 197, 167);
}
#content{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    height: 30vh;

    background-image: url(../src/Images/restaruant.jpg);
    background-position: center;
    background-size: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;

    z-index: 1;
}
header .title{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header .title h1{
    font: 900 96px 'Caveat', cursive;
    color: #fff;
}
header .nav{
    display: flex;
    align-items: flex-end;
    gap: 16px;

    height: 10vh;
}
header .nav button{
    height: 48px;

    margin-bottom: -2vh;
    padding: 0 3rem;

    font: 900 22px 'Caveat', cursiva;
    color: #fff;
    background-color: #a8663d;

    border-radius: 5px;
    border: none;

    transition: all ease-in-out .2s;
}
header .nav button:hover,
header .nav button.selected{
    background-color: #6d1e10;
}
main{
    display: grid;
    grid-template: 1fr/1fr;
    background-color: #c99575;
}
section{
    width: 100%;
    min-height: 50vh;

    padding-top: 32px;
    padding-bottom: 64px;
}
section>.title{
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 32px;
}
section>.right{
    margin-left: 10%;
}
section>.right>p{
    text-align: start;
}
section>.left{
    margin-right: 10%;
}
section>.left>p{
    text-align: end;
}
section>.title>p{
    font: 900 36px 'Caveat', cursive;
    color: #6d1e10;
    border-bottom: 2px solid #6d1e10;

    padding: 0 16px;
    width: 100%;
}
/* About Section */
.about .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    width: 80%;
    margin: auto;
}
 .about .content p{
    font: 400 18px 'Roboto';
    color: #6d1e10;
    text-align: center;
}

/* Team Section */
 .team .container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
}

 .team .container .team-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    height: 250px;
    width: 180px;
    transition: all ease-in-out .2s;
    border-radius: 50px;
}
 .team .container .team-member:hover{
    transform: scale(1.1);
}
 .team .container .team-member .image{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 150px;
    height: 150px;
    overflow: hidden;
    
    border-radius: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in-out .2s;
}
 .team .container .team-member:hover > .image{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
 .team .container .team-member .image img{
    height: 100%;
}
 .team .container .team-member .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Caveat', cursive;
    font-size: 22px;
}
 .team .container .team-member .info p:first-child{
    font-weight: 900;
}
/* Most Popular */
.menu{
    box-shadow: 10px 10px 10px black;
}
.menu .content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.menu .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 32px;

    height: 100%;
    width: 80%;
}
.menu .container .menu-item-card{
    display: grid;
    grid-template-rows: 3fr 1fr;

    border-radius: 10px;
    overflow: hidden;
}
.menu .container .menu-item-card .image{
    grid-row: 1 / span 2;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.menu .container .menu-item-card img{
    height: 100%;
}
.menu .container .menu-item-card .info{
    grid-row: 2 / 2;
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    padding: 8px;

    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;

}
.menu .container .menu-item-card .info p{
    font: 400 18px 'Caveat', cursiva;

}
.menu .container .menu-item-card .info p:first-child{
    font: 900 22px 'Caveat', cursiva;
}

/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #6d1e10;
}
footer p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;

    color: #fff;
}